$color: #a2e44c;
$height: 40px;

.navbar {
    height: $height;
    width: 100%;
    background-color: $color;
    display: flex;
    padding: 0 200px;
    .navbar__item {
        min-width: 100px;
        padding: 10px;
        color: #fff;
        font-family: Notosans-Semibold;
        transition: all 0.3s ease;
        &.selected, &:hover {
            background-color: #fff;
            color: $color;
            cursor: pointer;   
        }
    }
}